body {
    background: #ffffff;
    color: rgb(0, 5, 58);

}

.up {
    width: 400px;
    /* Фиксированная ширина */
    height: 400px;
    /* Фиксированная высота */

    justify-content: center;
    /* Центрирование по горизонтали */
    display: block;

    margin-right: 105px;
}